@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes content-alert {
  0%,
  100% {
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  }

  50% {
    background-image: linear-gradient(180deg, #FFFFFF 0%, #99F2C3 100%);
  }
}

.content-alert {
  animation: content-alert infinite 1s;
}

@keyframes programming-alert {
  0%,
  100% {
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  }

  50% {
    background-image: linear-gradient(180deg, #FFFFFF 0%, #85E5FF 100%);
  }
}

.programming-alert {
  animation: programming-alert infinite 1s;
}

@keyframes designer-alert {
  0%,
  100% {
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  }

  50% {
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FFF6CF 100%);
  }
}

.designer-alert {
  animation: designer-alert infinite 1s;
}

@keyframes marketing-alert {
  0%,
  100% {
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  }

  50% {
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FFCCE8 100%);
  }
}

.marketing-alert {
  animation: marketing-alert infinite 1s;
}

.tada {
  -webkit-animation: tada infinite 1s;
  animation: tada infinite 1s;
}
