@font-face {
  font-family: 'Maledpan';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Maledpan-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Maledpan';
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/Maledpan-Bold.otf) format('opentype');
}

* {
  font-family: 'Maledpan', 'Raleway', sans-serif;
  font-weight: bold;
}

body {
  margin: 1em;
  min-height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(49.41deg, #C73884 7.27%, #E13C6F 51.46%, #9B308E 95.22%);
  background-attachment: fixed;
  background-position: center;
}

footer {
  text-align: center;
  margin-top: 2em;
  color: rgba(255,255,255,0.7);
}

footer a {
  color: white;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.logo-container {
  text-align: center;
  margin: 2em 0;
}

.qr-container {
  max-width: 960px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: 1.5em;
}

.qr-container > div {
  display: inline-block;
}

.qr-container > div:last-child {
  align-self: center;
}

.qr-code-wrapper img {
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}

.invite-text {
  color: white;
  font-size: 24px;
  margin: 0;
}

.queue-link {
  color: white;
  font-size: 48px;
  text-decoration: none;
}

.logo {
  height: 70px;
}

.branch-container {
  max-width: 960px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  justify-content: center;
}

.branch-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 0.75rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.branch-card > div {
  width: 100%;
}

.branch-card > div:first-child {
  min-height: 206px;
  position: relative;
}

.branch-card > div:first-child img[alt="web content"] {
  margin-top: 20px;
}

.branch-card > div:first-child > h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.branch-card img {
  box-sizing: border-box;
  flex: 1;
}

.branch-card h3 {
  font-weight: bold;
}

.branch-name {
  font-size: 24px;
  margin-bottom: 0.25em;
}

.color-content {
  color: #81b77d !important;
}

.color-content-dark {
  color: #00BE7A  !important;
}

.color-programming {
  color: #78c8f4 !important;
}

.color-programming-dark {
  color: #4D9ED5 !important;
}

.color-designer {
  color: #f7c778 !important;
}

.color-designer-dark {
  color: #FCBE4F !important;
}

.color-marketing {
  color: #f797aa !important;
}

.color-marketing-dark {
  color: #FA5C87 !important;
}

.color-purple {
  color: #6d65ac !important;
}

.color-purple-dark {
  color: #554e90 !important;
}

.current-queue-text {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0.25em;
}

.current-queue {
  font-size: 80px;
  line-height: 1em;
  margin: 0.25em 0;
}

.next-queue-text {
  font-size: 25px;
}

@media (max-width: 1200px) {
  .branch-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile */
@media (max-width: 780px) {
  .branch-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .branch-card {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .current-queue {
    font-size: 40px;
  }
  .branch-name {
    font-size: 14px;
    margin-bottom: 0.25em;
  }
  .branch-card img {
    margin: 0;
    margin-bottom: 1em;
    max-height: 80px;
  }
  .branch-card > div:first-child {
    margin: 1em 0;
  }
}
